<section id="portfolio" class="section portfolio sm-mar">

    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 custom-flex">
                    <div class="title custom-float-left">
                        <h3 class="ourPartners">{{ "ourPartners" | translate }}</h3>
                    </div>
                    <div class="slick-wrapper custom-float-left">
                        <div id="slick1">
                            <div>
                                <img src="./assets/imgs/insurerlogos/svg/SOLIDARITY.svg" title="سوليدرتي للتأمين"
                                    alt="سوليدرتي للتأمين" />
                            </div>
                            <!-- <div>
                                <img src="./assets/imgs/insurerlogos/Alalamiya.png" title="العالمية للتأمين"
                                    alt="العالمية للتأمين" />
                            </div> -->
                            <div>
                                <img src="./assets/imgs/insurerlogos/svg/ALLIANZ.svg" title="اليانز للتأمين"
                                    alt="اليانز للتأمين" />
                            </div>

                            <div>
                                <img src="./assets/imgs/insurerlogos/svg/AMANA.svg" title="أمانه للتأمين"
                                    alt="أمانه للتأمين" />
                            </div>

                            <div>
                                <img src="./assets/imgs/insurerlogos/svg/AXA.svg" title="اكسا للتأمين"
                                    alt="اكسا للتأمين" />
                            </div>


                            <div>
                                <img src="./assets/imgs/insurerlogos/svg/MEDGULF.svg" title="ميدغلف للتأمين"
                                    alt="ميدغلف للتأمين" />
                            </div>
                            <div>
                                <img src="./assets/imgs/insurerlogos/svg/GGI.svg" title="شركة الخليجية للتأمين"
                                    alt="شركة الخليجية للتأمين" />
                            </div>
                            <div>
                                <img src="./assets/imgs/insurerlogos/svg/ACIG.svg" title="أسيج للتأمين"
                                    alt="أسيج للتأمين" />
                            </div>
                            <div>
                                <img src="./assets/imgs/insurerlogos/svg/DER3.svg" title="الدرع العربي للتأمين"
                                    alt="الدرع العربي للتأمين" />
                            </div>
                            <!-- <div>
                                <img src="./assets/imgs/insurerlogos/Ahlia.png" title="الأهلية للتأمين"
                                    alt="الأهلية للتأمين" />
                            </div> -->
                            <div>
                                <img src="./assets/imgs/insurerlogos/svg/AICC-EN.svg" title="العربية للتأمين"
                                    alt="العربية للتأمين" />
                            </div>
                            <div>
                                <img src="./assets/imgs/insurerlogos/svg/TUIC.svg" title="الاتحاد التجاري للتأمين"
                                    alt="الاتحاد التجاري للتأمين" />
                            </div>
                            <div>
                                <img src="./assets/imgs/insurerlogos/svg/TAWUNIYA.svg" title="التعاونية للتأمين"
                                    alt="التعاونية للتأمين" />
                            </div>
                            <div>
                                <img src="./assets/imgs/insurerlogos/svg/WALAA.svg" title="ولاء للتأمين"
                                    alt="ولاء للتأمين" />
                            </div>
                            <div>
                                <img src="./assets/imgs/insurerlogos/svg/SALAMA.svg" title="سلامة للتأمين"
                                    alt="سلامة للتأمين" />
                            </div>
                            <!-- <div>
                                <img src="./assets/imgs/insurerlogos/GulfUnion.png"
                                    title="اتحاد الخليج للتأمين التعاوني" alt="اتحاد الخليج للتأمين التعاوني" />
                            </div> -->
                            <div>
                                <img src="./assets/imgs/insurerlogos/svg/UCA.svg" title="المتحدة للتامين التعاوني"
                                    alt="المتحدة للتامين التعاوني" />
                            </div>

                            <div>
                                <img src="./assets/imgs/insurerlogos/svg/MALATH.svg" title="ملاذ" alt="ملاذ" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- row -->
        </div>
    </div>
    <!-- container -->
</section>