<app-header class="main-header"></app-header>
<div class="container">
    <div class="terq-bg terms">
        <div class="row">
            <div class="col-lg-12 col-xs-12 paddingZero">
                <div class="title">
                    {{'termsandconditions' | translate}}
                </div>
                <div class="description">
                    <div> {{"termsandConditionsText1a" | translate}}</div>
                    {{'termsandConditionsText1' | translate}}
                </div>
                <div class="title">
                    {{'termsandConditionsTitle1' | translate}}
                </div>
                <div class="description">
                    <div> {{'termsandConditionsText2' | translate}}</div>
                    <div> {{'termsandConditionsText2a' | translate}}</div>
                    <div> {{'termsandConditionsText2b' | translate}}</div>
                    <div> {{'termsandConditionsText2c' | translate}}</div>
                    <div> {{'termsandConditionsText2d' | translate}}</div>
                    <div> {{'termsandConditionsText2e' | translate}}</div>
                    <div> {{'termsandConditionsText2f' | translate}}</div>
                    <div> {{'termsandConditionsText2g' | translate}}</div>

                </div>
                <div class="title">
                    {{'termsandConditionsTitle2' | translate}}
                </div>
                <div class="description">
                    <div> {{'termsandConditionsText3' | translate}}</div>
                    <div> {{'termsandConditionsText3a' | translate}}</div>
                    <div> {{'termsandConditionsText3b' | translate}}</div>

                </div>
                <div class="title">
                    {{'termsandConditionsTitle3' | translate}}
                </div>
                <div class="description">
                    <div> {{'termsandConditionsText4' | translate}}</div>
                    <div> {{'termsandConditionsText4a' | translate}}</div>
                    <div> {{'termsandConditionsText4b' | translate}}</div>
                    <div> {{'termsandConditionsText4c' | translate}}</div>
                </div>
                <div class="title">
                    {{'termsandConditionsTitle4' | translate}}
                </div>
                <div class="description">
                    <div> {{'termsandConditionsText5' | translate}}</div>
                    <div> {{'termsandConditionsText5a' | translate}}</div>
                    <div> {{'termsandConditionsText5b' | translate}}</div>
                    <div> {{'termsandConditionsText5c' | translate}}</div>
                </div>
                <div class="title">
                    {{'termsandConditionsTitle5' | translate}}
                </div>
                <div class="description">
                    <div> {{'termsandConditionsText6' | translate}}</div>
                    <div> {{'termsandConditionsText6a' | translate}}</div>
                    <div> {{'termsandConditionsText6b' | translate}}</div>
                    <div> {{'termsandConditionsText6c' | translate}}</div>
                    <div> {{'termsandConditionsText6d' | translate}}</div>

                </div>
                <div class="title">
                    {{'termsandConditionsTitle6' | translate}}
                </div>
                <div class="description">
                    <div> {{'termsandConditionsText7' | translate}}</div>
                    <div> {{'termsandConditionsText7a' | translate}}</div>
                    <div> {{'termsandConditionsText7b' | translate}}</div>
                    <div> {{'termsandConditionsText7c' | translate}}</div>
                    <div> {{'termsandConditionsText7d' | translate}}</div>
                </div>
                <div class="title">
                    {{'termsandConditionsTitle7' | translate}}
                </div>
                <div class="description">
                    <div> {{'termsandConditionsText8' | translate}}</div>
                    <div> {{'termsandConditionsText8a' | translate}}</div>

                </div>
                <div class="title">
                    {{'termsandConditionsTitle8' | translate}}
                </div>
                <div class="description">
                    <div> {{'termsandConditionsText9' | translate}} </div>
                    <div> {{'termsandConditionsText9a' | translate}} </div>
                </div>
                <div class="title">
                    {{'termsandConditionsTitle9' | translate}}
                </div>
                <div class="description">
                    {{'termsandConditionsText10' | translate}}
                </div>
                <div class="title">
                    {{'termsandConditionsTitle10' | translate}}
                </div>
                <div class="description">
                    {{'termsandConditionsText11' | translate}}
                </div>
                <div class="title">
                    {{'termsandConditionsTitle11' | translate}}
                </div>
                <div class="description">
                    <div> {{'termsandConditionsText12' | translate}}</div>
                    <div> {{'termsandConditionsText12a' | translate}} </div>

                </div>
                <div class="title">
                    {{'termsandConditionsTitle12' | translate}}
                </div>
                <div class="description">
                    <div> {{'termsandConditionsText13' | translate}}</div>
                    <div> {{'termsandConditionsText13a' | translate}}</div>

                </div>
                <div class="title">
                    {{'termsandConditionsTitle13' | translate}}
                </div>
                <div class="description">
                    <div> {{'termsandConditionsText14' | translate}}</div>
                    <div> {{'termsandConditionsText14a' | translate}}</div>
                    <div> {{'termsandConditionsText14b' | translate}}</div>

                </div>
                <div class="notice">
                    <span>{{'termsandConditionsTitle14' | translate}}</span>
                    {{'termsandConditionsText15' | translate}}
                </div>
            </div>
        </div>
    </div>
</div>