/**** regression ***/
.car-name {
  color: #727373;
}
.orange-label {
  color: #f9a52d;
  font-weight: 700;
  border-bottom: 2px solid white;
}
.blue-data img {
  height: 97px !important;
  width: 97px !important;
}
.end-policy {
  font-size: 1.0625rem !important;
  width: 65% !important;
  top: 20px !important;
  text-align: center;
  line-height: 1.1;
}
.day {
  font-size: 1.0625rem !important;
}
/*************/
.filter button {
  position: relative;
  top: 10px;
}
.custom-flex {
  justify-content: flex-start;
}
.filter {
  padding-bottom: 5px;
  border-bottom: 5px solid #fff;
  margin-bottom: 40px;
}
.flex-wrapper .custom-label {
  background: #f2f9f9;
  width: 123px;
  /* border: 1px solid #b5b5b5; */
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  flex-shrink: 0;
}
.flex-wrapper .custom-text {
  color: #727373;
  font-size: 1.0625rem;
}

.custom-flex-wrapper {
  display: flex;
}
.custom-flex-wrapper div {
  margin: 0 7px;
  /* flex-grow: 1; */
}
.blue-data {
  position: relative;
}
.end-policy {
  font-size: 0.5rem;
}
.end-date {
  font-size: 0.7rem;
  position: absolute;
  width: 100%;
  top: 20px;
  color: #a7a8a8;
}
.day {
  font-size: 0.7rem;
}
.end-policy {
  font-size: 0.4rem;
}
.cancel-padding {
  padding: 0;
}
.car-plate {
  background-repeat: no-repeat;
  width: 155px;
  height: 75px;
}
.custom-white-wrapper {
  border: 1px solid #146394;
}
.flex-wrapper .custom-label {
  background: #f2f9f9;
  width: 137px;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.0625rem;
  text-align: center;
}
.custom-white-wrapper {
  padding: 20px 15px !important;
}

.flex-wrapper {
  display: flex;
  /* justify-content: space-between; */
  color: #727373;
  align-items: center;
}
.primary-btn {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.show-in-mobile {
  display: none;
}

.small-pad {
  padding: 0px 2px;
}

@media (max-width: 480px) {
  .custom-white-wrapper {
    padding: 20px 10px;
    border-radius: 15px;
    border: none;
    background: white;
  }

  .flex-wrapper {
    display: block;
  }

  .padding-none {
    padding: 0px;
  }

  .flex-wrapper .custom-label {
    width: 100%;
    border: none;
    border-radius: none;
    font-size: 16px;
    color: #146394;
    text-align: center;
    font-weight: bold;
    border-radius: none;
    padding: 5px 0px;
  }

  .custom-text {
    font-size: 16px !important;
    color: #727373 !important;
    text-align: center;
    line-height: 35px;
    height: 20px;
  }

  .car-plate .arabic-character {
    right: 25px;
    top: 5px;
    font-size: 15px !important;
  }
  .car-plate .arabic-number {
    top: 2px;
    right: 80px;
    font-size: 15px !important;
  }

  .car-plate span.english-number {
    right: 58px;
    top: 30px;
    font-size: 15px !important;
  }

  .car-plate .english-character {
    top: 30px;
    right: 20px;
    font-size: 15px !important;
  }

  .car-plate {
    width: 130px;
  }
  .car-numbers .car-name {
    font-size: 15px;
    color: gray;
  }

  .border {
    border-top: 2px solid #cfcfcf;
    width: 50%;
  }

  .show-in-mobile {
    display: block;
  }

  .custom-flex-wrapper div {
    flex-grow: 0 !important;
  }
  .custom-flex-wrapper {
    justify-content: center;
  }

}
/******* regression *****/
.custom-white-wrapper {
  border-radius: 12px;
  border: none;
}
.paddingZero {
  padding: 0 !important;
}
@media (min-width: 1365px) {
  .car-plate .arabic-character {
    right: 25px;
    top: 5px;
  }
  .car-plate .arabic-number {
    top: 5px;
    right: 80px;
  }

  .car-plate span.english-number {
    right: 80px;
    top: 40px;
  }

  .car-plate .english-character {
    top: 43px;
    right: 25px;
  }
  .third-col {
    width: 270px;
    padding: 0;
  }
  .second-col {
    width: 265px;
    padding: 0;
  }
  .first-col {
    width: 425px;
  }
}
.mb-35 {
  margin-bottom: 35px;
}
