<div class="container">
    <div class="row bottomHeader">
        <div class="col-lg-12 col-xs-12">
            <ul class="main-items">
                <li>
                    <a>
                        <span class="active">

                            {{'vehicleInsurance'|translate}}
                        </span>
                    </a>
                </li>
                <!-- <li>
                    <a title="Lorem ipsum">
                        <span>
                            {{'medicalInsurance'|translate}}
                        </span>
                    </a>
                </li>
                <li>
                    <a title="Lorem ipsum">
                        <span>
                            {{'travelInsurance'|translate}}
                        </span>
                    </a>
                </li>
                <li>
                    <a title="Lorem ipsum">
                        <span>
                            {{'shopInsurance'|translate}}
                        </span>
                    </a>
                </li>
                <li>
                    <a title="Lorem ipsum">
                        <span>
                            {{'homeInsurance'|translate}}
                        </span>
                    </a>
                </li>
                <li>
                    <a title="Lorem ipsum">
                        <span>
                            {{'medicalmalPracInsurance'|translate}}
                        </span>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</div>