<app-header class="main-header"></app-header>
<div class="container">
    <div class="terq-bg terms">
        <div class="row">
            <div class="col-lg-12">
                <div class="title">
                    {{'privacypolicy' |  translate}}
                </div>
                <div class="description">
                    {{'conditionsPolicyText1' |  translate}}
                </div>
                <div class="title">
                    {{'conditionsPolicyText2' |  translate}}   
                </div>
                <div class="description">
                    {{'conditionsPolicyText3' |  translate}}
                </div>
                <div class="title">
                    {{'conditionsPolicyText4' |  translate}}
                </div>
                <div class="description">
                    {{'conditionsPolicyText5' |  translate}}
                </div>
                <div class="title">
                    {{'conditionsPolicyText6' |  translate}}
                </div>
                <div class="description">
                    {{'conditionsPolicyText7' |  translate}}
                </div>
                <div class="title">
                    {{'conditionsPolicyText8' |  translate}}
                </div>
                <div class="description">
                    {{'conditionsPolicyText9' |  translate}}
                </div>
                <div class="title">
                    {{'conditionsPolicyText10' |  translate}}
                </div>
                <div class="description">
                    {{'conditionsPolicyText11' |  translate}}
                </div>
                <div class="title">
                    {{'conditionsPolicyText12' |  translate}}
                </div>
                <div class="description">
                    {{'conditionsPolicyText13' |  translate}}
                </div>
                <div class="title">
                    {{'conditionsPolicyText14' |  translate}}
                </div>
                <div class="description">
                    {{'conditionsPolicyText15' |  translate}}
                </div>
                <div class="title">
                    {{'conditionsPolicyText16' |  translate}}
                </div>
                <div class="description">
                    {{'conditionsPolicyText17' |  translate}}
                </div>
            </div>

        </div>
    </div>
</div>