<app-header class="main-header"></app-header>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="about-bg">
                <div class="data">
                    <h1 class=" white-title">
                        <!-- {{'aboutUsText1'|translate}} -->
                        <span>تقديم خدمة مميزة</span>
                        <span>بأسعار تنافسية!</span>
                    </h1>
                    <div class=" blue-title">مدعومه بحمايه متكامله و عنايه عاليه</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
            <div class="blue-bg">

                <div class="row mb-25">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <div class="white-wrapper">
                            <div class="bcare-intro">
                                <i class="custom-icon icon-yellow-lamp"></i>
                                <div class="text">
                                    <div>هو احد منتجات<span class="blue-clr"> شركة عناية الوسيط لوساطة التأمين "بي
                                            كير</span>"</div>
                                    <div><span class="blue-clr">عـلـى تقوم شركة بي كير </span> توفـيـر مـنصـة
                                        إلـكـترونـيـة ذكـيـة تـمـنـح
                                        الـعـمـيل
                                        حـرية
                                        الـمـقارنـة والاخـتـيـار
                                    </div>
                                    <div>بين العديد من المنتجات التأمينية لشـركات الـتأمـين المُصـرح لـهـا من قِبل البنك
                                        المركزي السعودي .</div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row custom-flex mb-25">
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="box purple left-box">
                            <div class="text custom-align-right">
                                ريـادة مـحـلــيــة وإقـــلـيــمـيـــة
                                <br> في خدمات وساطة التأمين.
                            </div>
                            <i class="icon-chart"></i>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12">
                        <div class="middle-box">
                            <div class="vision">رؤية الـشـركــة</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-xs-12">

                        <div class="box purple right-box">
                            <i class="icon-star"></i>

                            <div class="text">
                                تقـديــم خـدمـة مــمـيـزة بـأســــعـــار مــــــلائـــمــــة، وتنافســيـة، مــدعــومــة
                                بحماية متكاملة، وعناية عالية، لعمـلاء الـشـركــة.

                            </div>
                        </div>
                    </div>



                </div>
                <div class="row ">
                    <div class="col-lg-12 col-md-12 col-xs-12 mtb-55 ">
                        <div class="title-twolines babyblue">أهداف الشركة</div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <div class="white-bg">
                            <div class="row box-flex">
                                <div class="col-lg-4 col-md-4 col-xs-12 cancel-padding">
                                    <div class="box pink left-box ">

                                        <div class="text custom-align-right">
                                            المساهمة في تحقيق قيمة
                                            مـضـافـة لـسوق التـأمين من
                                            خــــلال تـقـنـيـة الـمـعـلـومـات
                                            و الـذكـاء الاصـطـنـاعـــي.

                                        </div>
                                        <i class="icon-cloud"></i>

                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12 cancel-padding">
                                    <div class="box center-box">
                                        <i class="icon-star"></i>

                                        <div class="text">
                                            تكثيف مَجهودات الشركـة
                                            لتقديم خدمات تتفق مــع
                                            احتياجات ورغبات العملاء.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-xs-12 cancel-padding">
                                    <div class="box pink right-box">
                                        <i class="icon-search"></i>

                                        <div class="text">
                                            زيادة الوعي التأميني
                                            لـلعـمـلاء وحـمـايـتـهم
                                            من جـمـيـع الــمـخـاطــر
                                            الـتـي تـحـيـط بـهــم.

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12 mtb-55">
                        <div class="title-twolines black">قِيَم الشركة</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-xs-12">
                        <div class="items about-us-items">
                            <div class="row box-flex">
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    <div class="item">
                                        <div class="item-title mb-25 bold-txt">
                                            ارتــــقــــــاء الأداء
                                            والعناية بعملائنا
                                        </div>
                                        نسعى بكل إصرار
                                        لنتخطى توقعات عملائنــا
                                        ونـقـف بـجـانبهم فـي أدق
                                        تفاصيل حاجاتهم التأمينية
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    <div class="item">
                                        <div class="item-title mb-25 bold-txt">
                                            ارتــــقــــــاء الأداء
                                            والعناية بعملائنا
                                        </div>
                                        نسعى بكل إصرار
                                        لنتخطى توقعات عملائنــا
                                        ونـقـف بـجـانبهم فـي أدق
                                        تفاصيل حاجاتهم التأمينية
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    <div class="item">
                                        <div class="item-title mb-25 bold-txt">
                                            ارتــــقــــــاء الأداء
                                            والعناية بعملائنا
                                        </div>
                                        نسعى بكل إصرار
                                        لنتخطى توقعات عملائنــا
                                        ونـقـف بـجـانبهم فـي أدق
                                        تفاصيل حاجاتهم التأمينية
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xs-12">
                                    <div class="item">
                                        <div class="item-title mb-25 bold-txt">
                                            ارتــــقــــــاء الأداء
                                            والعناية بعملائنا
                                        </div>
                                        نسعى بكل إصرار
                                        لنتخطى توقعات عملائنــا
                                        ونـقـف بـجـانبهم فـي أدق
                                        تفاصيل حاجاتهم التأمينية
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>