<div class="form-group input-group-lg col-lg-4 col-md-4 col-xs-12 custom-float-left">
    <mat-form-field appearance="standard">
        <mat-label class="label-Screen2"> {{'SequenceOrCustomCardNumber' | translate}}</mat-label>
        <input matInput type="tel" (keypress)="allowOnlyNumbers($event)" class="form-control"
            placeholder="{{'SequenceCustomerNumber' | translate}}"
            onkeypress="if(this.value.length==50) return false;" minlength="4" id="SequenceOrCustomCardNumber">
    </mat-form-field>
</div>

<div class="form-group input-group-lg col-lg-4 col-md-4 col-xs-12 custom-float-left">
    <mat-form-field appearance="standard">
        <mat-label class="label-Screen2"> {{'InsuredNIN' | translate}}</mat-label>
        <input matInput type="tel" (keypress)="allowOnlyNumbers($event)" class="form-control"
            placeholder="{{'InsuredNIN' | translate}}" onkeypress="if(this.value.length==50) return false;"
            minlength="4" id="InsuredNIN">
    </mat-form-field>
</div>

<div class="form-group input-group-lg col-lg-4 col-md-4 col-xs-12 custom-float-left">
    <mat-form-field appearance="standard">
        <mat-label class="label-Screen2"> {{'PolicyNumber' | translate}}</mat-label>
        <input matInput type="tel" (keypress)="allowOnlyNumbers($event)" class="form-control"
            placeholder="{{'PolicyNumber' | translate}}" onkeypress="if(this.value.length==50) return false;"
            minlength="4" id="PolicyNumber">
    </mat-form-field>
</div>


<button (click)="getAllPolicies()">
    getAllPolicies
</button>


<p>

    {{products}}
</p>