<!-- 
<div class="form-group input-group-lg col-lg-4 col-md-4 col-xs-12 custom-float-left">
    <mat-form-field appearance="standard">
        <mat-label class="label-Screen2"> {{'InvoiceNumber' | translate}}</mat-label>
        <input matInput type="tel" (keypress)="allowOnlyNumbers($event)" class="form-control"
            placeholder="{{'InvoiceNumber' | translate}}" onkeypress="if(this.value.length==50) return false;"
            minlength="4" id="InvoiceNumber">
    </mat-form-field>
</div>
<button (click)="getAllInvoices()">
    getAllPolicies
</button>
<p>
    
    {{invoices}}
</p> -->



<div class="filter profile-filter">
    <div class="row">
        <div class="col-lg-4 col-xs-12 mb-15">
            <input type="text" class="form-control">
        </div>

        <div class="col-lg-2 col-xs-12">
            <button class="primary-btn" type="submit">الخروج</button>
        </div>
    </div>
</div>