<footer class="main-footer mobile-show">
    <div class="container">
        <div class="">
            <div class="footerAlign">
                <div class="col-xs-6 col-md-5 custom-float-left custom-flex col-flex">
                    <div class="auth">{{'authorizedBy' | translate}}</div>
                    <img class="sama-logo bx-right logo-width" src="../../../../assets/imgs/sama-logo.svg" alt="sama">
                </div>
                <div class="col-xs-6 col-lg-3 col-md-3 custom-float-left col-resp">
                    <div class="call-number call-number-resp custom-align-right">
                        <i class="icon-phone"></i> <span>920010050</span>
                    </div>
                    <!-- <h3 class="social-heading txt-md txt-brand dis-block">{{'followus' | translate}}</h3> -->
                    <ul class="social-icons desktop-icons">
                        <li><a href="https://twitter.com/bcareksa" target="_blank" rel="noopener" class="tw"><i
                                    class="icon-tweeter"></i></a></li>
                        <li><a href="http://instagram.com/bcareksa" target="_blank" rel="noopener" class="st"><i
                                    class="icon-instagram"></i></a></li>
                        <li><a href="https://facebook.com/Bcareksa-115093535762889/" target="_blank" rel="noopener"
                                class="fb"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCAuOCfNoaW8xTCFAMI38Anw" target="_blank"
                                rel="noopener" class="in"><i class="icon-youtube"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/bcareksa" target="_blank" rel="noopener"
                                class="in"><i class="icon-linked-in"></i></a></li>
                    </ul>
                    <div class="iconsInResponsivex">
                        <a href="https://play.google.com/store/apps/details?id=com.app.bcare"><img
                                class="sama-logo bx-right custom-img custom-logo" width="100" height="39"
                                src="../../../../assets/imgs/android_mobile_app.svg" alt="sama" title="Sama"></a>
                        <a href="https://apps.apple.com/us/app/bcare-%D8%A8%D9%8A-%D9%83%D9%8A%D8%B1/id1490248033?ls=1">
                            <img class="sama-logo custom-img custom-logo" width="100" height="39"
                                src="../../../../assets/imgs/ios_mobile_app.svg" alt="sama" title="Sama"></a>
                    </div>
                </div>
                <div class="col-xs-12 col-lg-5 col-md-4 custom-float-left custom-align-right padding-cancel">
                    <div class="call-number desktop-resp mb-20">
                        <i class="icon-phone"></i> <span>920010050</span>
                    </div>

                    <ul class="links-list inline-list mb-20 f_width">
                        <li><a [routerLink]="['termsandconditions']" target="_blank"
                                rel="noopener">{{'termsandconditions' | translate}} </a></li>
                        <li><a [routerLink]="['privacy-policy'] " target="_blank" rel="noopener">
                                {{'privacypolicy' | translate}}</a></li>
                        <li><a [routerLink]="['about-us'] " target="_blank" rel="noopener">
                                {{'aboutCompany' | translate}}</a>
                        </li>
                        <li><a [routerLink]="['print-policy'] " target="_blank" rel="noopener">
                                {{'printYourPolicy' | translate}}
                            </a>
                        </li>
                        <li><a [routerLink]="['contact-us'] " target="_blank" rel="noopener">
                                {{'contactus' |translate}}</a>
                        </li>
                        <li><a href="https://blog.bcare.com.sa/" target="_blank" rel="noopener">
                                {{'blog' |translate}}</a>
                        </li>
                        <li><a [routerLink]="['wooref'] " target="_blank" rel="noopener">
                                {{'discountreef' |translate}}
                            </a>
                        </li>
                        <li><a [routerLink]="['careers'] " target="_blank" rel="noopener">
                                {{'employment' |translate}}
                            </a>
                        </li>
                    </ul>
                    <p class="description " [innerHTML]="'description' | translate"></p>
                </div>
                <div class="col-xs-12 icons-resp">
                    <ul class="social-icons">
                        <li><a href="https://twitter.com/bcareksa" target="_blank" rel="noopener" class="tw"><i
                                    class="icon-tweeter"></i></a></li>
                        <li><a href="http://instagram.com/bcareksa" target="_blank" rel="noopener" class="st"><i
                                    class="icon-instagram"></i></a></li>
                        <li><a href="https://facebook.com/Bcareksa-115093535762889/" target="_blank" rel="noopener"
                                class="fb"><i class="icon-facebook"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCAuOCfNoaW8xTCFAMI38Anw" target="_blank"
                                rel="noopener" class="in"><i class="icon-youtube"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/bcareksa" target="_blank" rel="noopener"
                                class="in"><i class="icon-linked-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>


<footer class="main-footer desktop-show">
    <div class="container">
        <div class="">
            <div class="">
                <div class="col-xs-6 col-md-12 custom-float-left custom-flex first-col-row mb-60">
                    <div class="first-col">
                        <div class="auth">{{'authorizedBy' | translate}}</div>
                        <img class="sama-logo bx-right logo-width" src="../../../../assets/imgs/sama-logo.svg"
                            alt="sama">
                    </div>
                    <div class="second-col">
                        <div class="call-number custom-align-right">
                            <i class="icon-phone"></i> <span>920010050</span>
                        </div>
                        <!-- <h3 class="social-heading txt-md txt-brand dis-block">{{'followus' | translate}}</h3> -->

                        <div class="iconsInResponsivex">
                            <a href="https://play.google.com/store/apps/details?id=com.app.bcare"><img
                                    class="sama-logo bx-right custom-img custom-logo" width="100" height="39"
                                    src="../../../../assets/imgs/white-android-store.svg" alt="sama" title="Sama"></a>
                            <a
                                href="https://apps.apple.com/us/app/bcare-%D8%A8%D9%8A-%D9%83%D9%8A%D8%B1/id1490248033?ls=1">
                                <img class="sama-logo custom-img custom-logo" width="100" height="39"
                                    src="../../../../assets/imgs/white-app-store.svg" alt="sama" title="Sama"></a>
                        </div>
                        <ul class="social-icons desktop-icons custom-align-left">
                            <li><a href="https://twitter.com/bcareksa" target="_blank" rel="noopener" class="tw"><i
                                        class="icon-tweeter"></i></a></li>
                            <li><a href="http://instagram.com/bcareksa" target="_blank" rel="noopener" class="st"><i
                                        class="icon-instagram"></i></a></li>
                            <li><a href="https://facebook.com/Bcareksa-115093535762889/" target="_blank" rel="noopener"
                                    class="fb"><i class="icon-facebook"></i></a></li>
                            <li><a href="https://www.youtube.com/channel/UCAuOCfNoaW8xTCFAMI38Anw" target="_blank"
                                    rel="noopener" class="in"><i class="icon-youtube"></i></a></li>
                            <li><a href="https://www.linkedin.com/company/bcareksa" target="_blank" rel="noopener"
                                    class="in"><i class="icon-linked-in"></i></a></li>
                        </ul>
                    </div>

                </div>
                <div
                    class="col-xs-12 col-lg-12 col-md-12 custom-float-left custom-align-right padding-cancel footer-center">

                    <div class="co-xs-8 col-lg-8">
                        <ul class="links-list inline-list mb-20 f_width">
                            <li><a [routerLink]="['termsandconditions']" target="_blank"
                                    rel="noopener">{{'termsandconditions' | translate}} </a></li>
                            <li><a [routerLink]="['privacy-policy'] " target="_blank" rel="noopener">
                                    {{'privacypolicy' | translate}}</a></li>
                            <li><a [routerLink]="['about-us'] " target="_blank" rel="noopener">
                                    {{'aboutCompany' | translate}}</a>
                            </li>
                            <li><a [routerLink]="['print-policy'] " target="_blank" rel="noopener">
                                    {{'printYourPolicy' | translate}}
                                </a>
                            </li>
                            <li><a [routerLink]="['contact-us'] " target="_blank" rel="noopener">
                                    {{'contactus' |translate}}</a>
                            </li>
                            <li><a href="https://blog.bcare.com.sa/" target="_blank" rel="noopener">
                                    {{'blog' |translate}}</a>
                            </li>
                            <li><a [routerLink]="['wooref'] " target="_blank" rel="noopener">
                                    {{'discountreef' |translate}}
                                </a>
                            </li>
                            <li><a [routerLink]="['careers'] " target="_blank" rel="noopener">
                                    {{'employment' |translate}}
                                </a>
                            </li>
                        </ul>
                        <p class="description " [innerHTML]="'description' | translate"></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>